{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "syntax-async-functions",
    ["relay", {"schema": "./data/schema.json"}]
    // https://www.w3cschool.cn/doc_relay/relay-babel-plugin-relay.html?lang=en#using-with-relay-classic
  ]
}
